<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czy1344.usrvservice.mapper.UsrCommentMapper">
    <select id="listComment" resultType="com.czy1344.usrvservice.entity.vo.CommentVo">
        select
        id,nickname,avatar,content,gmt_create
        from usr_comment
        where video_id = #{videoId}
        order by gmt_create desc
        limit #{index},#{limit}
    </select>
</mapper>
